.rules {
  /* margin-left: 45px;
  margin-right: 45px; */
  margin-bottom: 30px;
}
.gameboard {
  margin: auto;
  margin-top: 5%;
  color: rgb(0, 0, 0);
  display: none;
}

#player1 {
  box-shadow: 0px 1px 15px rgb(27, 23, 248);

}

#player2 {
  box-shadow: 0px 1px 15px rgb(226, 5, 5);

}

.btn btn-danger {
  margin: auto;
}

.winnerplayer1 {
  display: none;
  text-align: center;
  font-size: 30px;
  color: blue;
  box-shadow: 0px 1px 15px blue;
  padding: 10px;
  margin: 15px;

}

.winnerplayer1 img {
  max-width: 15%;
  height: auto;
}

.winnerplayer2 {
  display: none;
  text-align: center;
  font-size: 30px;
  color: red;
  box-shadow: 0px 1px 15px rgb(226, 5, 5);
  padding: 10px;
  margin: 15px;
}

.winnerplayer2 img {
  max-width: 15%;
  height: auto;
}

.row {
  padding-left: 30px;
  padding-right: 30px;

}

#displayRoll {
  text-align: center;
}

#player2 {
  text-align: right;
}

#player2Form {
  text-align: right;
}

/* #player2roll {
  display: none;
}

#player2hold {
  display: none;
} */

.playerForm {
  width: 100%
}

